/* main section manipulation */

body{
  background-color:#131E3C;
  width:60%;
  margin: 0 auto;

  /*font-family: 'Viga', sans-serif;*/
}

header{
  /*background-color: #7D8491; */
  background-color:yellow;
  height:30%;

  /*font-family: 'Pacifico', cursive !important */;
}

main{
  background-color: red;
  max-height: 60%;
  height:100%;
  max-width: 100%;
  width:auto;
}

footer{
  background-color:white;
  text-align: center;
}

/* end of section manipulation */

/* Text and Caption manipulation */
h1 {
  font-family: 'Pacifico', cursive;
  color:white;
  font-size: 48;
}

h2 {
  margin: 0 0 0 0;
  padding: 0px 0px 0px 0px;
  text-decoration:none;
  text-align:center;
  /*overflow: hidden; */
  /*list-style-type: none; */
}

h3 {
  margin:0 auto;
  padding: 10px 0px 0px 0px;
  text-decoration:none;
  text-align:center;
}

/* End of text and caption manipuloation */

/* container manipulation */
.threshold {
  max-width: 75%;  /* changes per size of image */
  max-height:100%;
  margin: 0 auto;
}

.boxes {
  height:100%;
}

.parent {
  background-color: #914D76;
  display:flex;
  flex-flow:nowrap;
  justify-content:space-evenly;
  height: 100%;
}

.child {
  padding: 20px 20px 20px 20px; 
  background-color:purple;
  width:30%;
  height:80%;
}

/* end of container manipulation */

/* element manipulation */


#menubar {
  position:absolute;
  top:11%;
  text-align:center;
  width: 60%;
  height:10%;
  margin:auto auto;
}
/*
#menubar>nav>ul>li>a{
  color:#fff;
}
*/

/* #searchbar {
  top:20%;
  padding: 0;
  max-width: 60%;
  height: auto;
  position:absolute;
  justify-content:center;
  text-align: left;
} */

#bannerZone {
  width:100%;
  height:100%;
}

#banner {
  width:100%;
  height:100%;
  position:relative;
}

#websiteTitle {
  /* background-color: red; */
  /* height:20%; */
  width:60%;
  /*margin:0 auto; */
  top:0%;
  position:absolute;
  text-align:center;
  line-height: 50PX;

}

#leftbox {
  /*background-color:#C0C5C1; */
  background-color:#611C35;
}


#rightbox {
  background-color:#861657;
}

#midbox {
  background-color:#124E78;
}



#submit {
  /*padding:0 0 0 0;
  margin:0; */
}


/* end ofelement manipulation */

/*nav bar css*/
/*
nav>ul {
  list-style-type:none;
  margin:0;
  padding:0;
  overflow:hidden;

}

nav>ul>li {
  float:left;
}

nav>ul>li a {
  display: block;
  color:#000000;
  text-align: center;
  padding: 0px 10px;
  text-decoration: none;
}

li a:hover {
  color: #363636;
}

#seemore{


}







/*

body{


  /*
  background: url("../Images/RossKemp.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  */
  /*background-color: red;
  margin-left: 10%;
  margin-right: 10%;
}

html, body



#WebsiteName{
  background-color: yellow;
  width: auto;
  float: left;
}

#LoginH{
  display: inline-block;
}

#mostPopular,#lowestRated,#newestAddition{
  width: 29%;
  margin: 2%;
  height: auto;
  border: 3px solid green;
}

#searchBar{
  text-align: center;
  margin: 10px;
}

.flex-content{
  display: -webkit-flex;
  display: flex;
}

.flex-header{
  display: inline-block;
  border: 3px solid green;
  margin: 2%;
  width: 96%;
  text-align: center;
}
*/


@import url(https://fonts.googleapis.com/css?family=Cabin:400);

.webdesigntuts-workshop {
	/* background: #151515; */
	height: auto;

	position: absolute;
	text-align: center;
	width: 60%;
  top: 3%;
}

.webdesigntuts-workshop:before {
	background: #444;
	background: linear-gradient(left, #151515, #444, #151515);
	top: 192px;
}

.webdesigntuts-workshop:after {
	background: #000;
	background: linear-gradient(left, #151515, #000, #151515);
	top: 191px;
}

.webdesigntuts-workshop form {
	background: #111;
	background: linear-gradient(#ffffff,#f2f2f2);
	border: 1px solid #000;
	border-radius: 5px;
	box-shadow: inset 0 0 0 1px #272727;
	display: inline-block;
	font-size: 0px;
	top: 160px;
	/* padding: 20px; */
	position: relative;
	z-index: 1;
}

.webdesigntuts-workshop input {
	background: #222;
	background: linear-gradient(#ffffff,#f2f2f2);
  /* linear-gradient(#333, #222); */
	border: 1px solid #444;
	border-radius: 5px 0 0 5px;
	box-shadow: 0 2px 0 #000;
	color: #888;
	display: block;
	float: left;
	font-family: 'Cabin', helvetica, arial, sans-serif;
	font-size: 15px;
	font-weight: 400;
	height: 40px;
	margin: 0;
	padding: 0 10px;
	text-shadow: 0 -1px 0 #000;
  width: %;

}

.ie .webdesigntuts-workshop input {
	line-height: 40px;
}

.webdesigntuts-workshop input::-webkit-input-placeholder {
   color: #888;
}

.webdesigntuts-workshop input:-moz-placeholder {
   color: #888;
}

.webdesigntuts-workshop input:focus {
	animation: glow 800ms ease-out infinite alternate;
	background: #222922;
	background: linear-gradient(#e6e6e6, #d9d9d9);
	border-color: #393;
	box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
	color: #000000;
	outline: none;
}

.webdesigntuts-workshop input:focus::-webkit-input-placeholder {
	color: #efe;
}

.webdesigntuts-workshop input:focus:-moz-placeholder {
	color: #efe;
}


.webdesigntuts-workshop button:hover,
.webdesigntuts-workshop button:focus {
	background: #292929;
	background: linear-gradient(#393939, #292929);
	color: #5f5;
	outline: none;
}

.webdesigntuts-workshop button:active {
	background: #292929;
	background: linear-gradient(#393939, #292929);
	box-shadow: 0 1px 0 #000, inset 1px 0 1px #222;
	top: 1px;
}

@keyframes glow {
    0% {
		border-color: #ffb3ff;
		box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
    }
    100% {
		border-color: #ff66ff;
		box-shadow: 0 0 40px rgba(200, 102, 255,.6), inset 0 0 20px rgba(255, 102, 255,.4), 0 2px 0 #000;
    }
}

/* .webdesigntuts-workshop:before,
.webdesigntuts-workshop:after {
	content: '';
	display: block;
	height: 1px;
	left: 50%;
	margin: 0 0 0 -400px;
	position: absolute;
	width: 800px;
} */

/* .webdesigntuts-workshop button {
	background: #222;
	background: white;
  linear-gradient(#333, #222);
	box-sizing: border-box;
	border: 1px solid #444;
	border-left-color: #000;
	border-radius: 0 5px 5px 0;
	box-shadow: 0 2px 0 #000;
	color: #fff;
	display: block;
	float: left;
	font-family: 'Cabin', helvetica, arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
	height: 40px;
	line-height: 40px;
	margin: 0;
	padding: 0;
	position: relative;
	text-shadow: 0 -1px 0 #000;
	width: 80px;
} */

@import "compass/css3";
/*
.flex-item {
  background: tomato;
  padding: 5px;
  width: 200px;
  height: 200px;
  margin-top: 10px;

  line-height: 25px;
  color: white;
  font-weight: bold;
  /*font-size: 3em;*//*
  text-align: center;
}
*/


.title{
  width: auto;
  height: 100px;
  text-align: center;
}

.poster{
  height: 140px;
  text-align: center;
}
